.card {
    height: 150px;
    width: 150px;
    margin: 1rem;
    background: #fff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    transition: transform .4s;
}

.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card>.img-container {
    height: 100%;
    overflow: hidden;
}

.card>.img-container>img {
    width: 100%;
}